<html>
    <head>
        <title>
            Modify data
         </title>   
    </head>
    <body>
        <form name = 'Update' method = 'POST' action='/updated/'>

            {% csrf_token %}
        <table>
            <tr>
            <td>    
            <h1>Person Detail</h1>
            </td>
            </tr>
            <tr>
                <td>
                    Update Record Id :-
                </td>   
            <td>

                <input type = 'text' name = 'id' value='{{modify_data.id}}'>
            </td>
            </tr>
            </tr>    
            
                <tr>
                    <td>
                        <h3>First Name</h3>
                     </td>
                     <td>
                        <input type = 'text' name = 'first_name' value = '{{modify_data.order.firstname}}'>
                     </td>
                     <td>
                        <h3>Last Name</h3>
                     </td>
                     <td>
                        <input type = 'text' name = 'last_name' value = '{{modify_data.order.lastname}}'>
                     </td>

                </tr> 
                
                <tr>
                    <td>
                        <h3>Email</h3>
                     </td>
                     <td>
                        <input type = 'text' name = 'email' value = '{{modify_data.order.email}}'>
                     </td>
                </tr>

                <tr>
                    <td>    
                    <h1>Address Detail</h1>
                    </td>
                </tr> 
                
                <tr>
                    <td>
                        <h3>Street</h3>
                     </td>
                     <td>
                        <input type = 'text' name = 'street' value = '{{modify_data.order.address_street}}'>
                     </td>
                </tr>

                <tr>
                    <td>
                        <h3>Landmark</h3>
                     </td>
                     <td>
                        <input type = 'text' name = 'landmark' value = '{{modify_data.order.address_landmark}}'>
                     </td>
                </tr>

                <tr>
                    <td>
                        <h3>Postal Code</h3>
                     </td>
                     <td>
                        <input type = 'text' name = 'postal_code' value = '{{modify_data.order.address_pincode}}'>
                     </td>
                </tr>
                
                <tr>
                    <td>    
                    <h1>Order Detail</h1>
                    </td>
                </tr> 

                <tr>
                    <td>
                        <h3>product</h3>
                     </td>
                     <td>
                         <select name = 'data'>
                            <option value="{{modify_data.product.name}}">{{modify_data.product.name}}</option>
                         </select>
                     </td>
                </tr>

                <tr>
                    <td>
                        <h3>Quantity</h3>
                     </td>
                     <td>
                        <input type = 'text' name = 'quantity' value='{{modify_data.quantity}}'>
                     </td>
                </tr>

                <tr>
                    <td>
                        <h3>Price</h3>
                     </td>
                     <td>
                        <input type = 'text' name = 'price' value='{{modify_data.price}}'>
                     </td>
                </tr>


                <tr>
                    <td>
                        <input type = 'submit' value ='edit order'>
                     </td>
                </tr>  


        </table>
        </form>
        
    </body>
</html>