<html>
    <head>
        <title>
            Record Page
         </title>   
    </head>
    <body>
        <table border="1">
            <tr>
                <td>
                    Name
                </td>
                <td>
                    Address
                </td>
                <td>
                    Product     
                </td>
                <td>
                    Quantity
                </td>
                <td>
                    Price
                </td>
                <td>
                </td>
            </tr>
            {% for viewdata in orderdata %}
            <tr>
                <td>
                    {{viewdata.order.Firstname}}
                </td>
                <td>
                    {{viewdata.order.Address_street}} &nbsp;{{viewdata.order.Address_landmark}}
                    &nbsp;{{viewdata.order.Address_pincode}}
                </td>
                <td>
                    {{viewdata.product.name}}   
                </td>
                <td>
                    {{viewdata.Quantity}}
                </td>
                <td>
                    {{viewdata.price}}
                </td>

                <td>   <a href="/order/"> <button> Edit </button> </a>
                </a href="/remain/" ><button> Delete </button></a>
                </td>
            </tr> 
            {% endfor %}

        </table>
    </body>
</html>