<html>
    <head>
        <title>
            Record Page
         </title>   
    </head>
    <body>
        <table border="1">
            <tr>
                <td>
                    Name
                </td>
                <td>
                    Address
                </td>
                <td>
                    Product     
                </td>
                <td>
                    Quantity
                </td>
                <td>
                    Price
                </td>
                <td>
                </td>
            </tr>
            {% for view_data in orderdata %}
            <tr>
                <td>
                    {{view_data.order.firstname}}
                </td>
                <td>
                    {{view_data.order.address_street}} &nbsp;{{view_data.order.address_landmark}}
                    &nbsp;{{view_data.order.address_pincode}}
                </td>
                <td>
                    {{view_data.product.name}}   
                </td>
                <td>
                    {{view_data.quantity}}
                </td>
                <td>
                    {{view_data.price}}
                </td>

                <td>   
                    <!--
                       <a href="/order/"> <button> Edit </button> </a>
                       </a href="/remain/" ><button> Delete </button></a> -->

                       <a href="{% url 'Modifydata' view_data.id %}" > <button> Edit </button> </a>
                       <a href = "{% url 'remain' view_data.id %}" ><button> Delete </button></a>
                </td>
            </tr> 
            {% endfor %}

        </table>
    </body>
</html>